/*Schrijf hier jouw eigen CSS*/

/*
            TOC
    1. Global Styles
    2. Container
        2.1 Container 1
        2.2 Container 2
    3. Rating div
 */

/*
    1. Global Styles
 */


/*
    2. Container
        2.1 Container
 */

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
    2. Container
        2.2 Container
 */

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-container-2 {
    justify-content: space-evenly;
}

/*
    3. Rating div
 */

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}